.ProjectsOverviewFilter .status {
    padding: 10px;
}
.ProjectsFilter h4 {
    padding: 0 10px;
}
.LoadMore{
    color: #0071bc;
    font-size: 16px;
    text-decoration: underline;
    cursor: pointer;
}