.BaseLayout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #fff;
}

.BaseLayoutHeader {
  background-color: #fff;
  box-shadow: 0 2px 2px #ceced194;
  z-index: 1;
}

.BaseLayoutHeader .Breadcrumb {
  font-size: 18px;
}

.BaseLayoutContent {
  background-color: #fff;
  overflow-y: hidden;
  overflow-x: hidden;
}

@media screen and (max-width: 768px) {
  .ant-layout-header {
    padding: 0 20px;
  }
}

@media screen and (max-width: 426px) {
  .ant-layout-header {
    padding: 0 20px;
  }

  .BaseLayoutHeader .Breadcrumb {
    font-size: 13px;
  }

  .ant-dropdown-menu-item {
    font-size: 12px;
    padding: 10px;
  }
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #0f6788;
  margin-left: 0.5rem;
}

//new layout css
.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}
.header {
  background: #fff;
  border-bottom: 1px solid #dddddd;
}

.header-logo {
  display: flex;
}

.header .TopbarSearch {
  margin-top: 0.8rem;
}

.sider-layout .ant-menu.ant-menu-dark,
.sider-layout .ant-menu-dark .ant-menu-inline.ant-menu-sub {
  background: #f5f5f5;
}

.sider-layout .ant-menu-dark .ant-menu-item {
  margin: 0 !important;
}

.sider-layout .ant-menu-dark .ant-menu-item > a {
  color: #333;
}

.CustomizedIcon {
  background: #a8a8a8;
  padding: 6px 14px;
  margin-inline-end: 1.4em;
}

.sider-layout
  .ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal)
  .ant-menu-item-selected {
  background-color: inherit;
}

.sider-layout
  .ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal)
  .ant-menu-item-selected
  > a {
  color: #1890ff;
}

.BaseLayoutContent h3{ 
  color: #1890ff;

}

.sider-layout h3{
  padding-inline-start: 24px;
    font-weight: 600;
    font-size: 16px;
    padding-block-end: 1rem;
    text-transform: uppercase;
}