.BaseLayout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #fff;
}

.BaseLayoutHeader {
  background-color: #fff;
  box-shadow: 0 2px 2px #ceced194;
  z-index: 1;
}

.BaseLayoutHeader .Breadcrumb {
  font-size: 18px;
}

.BaseLayoutContent {
  background-color: #fff;
  overflow-y: auto;
  overflow-x: hidden;
}

@media screen and (max-width: 768px) {
  .ant-layout-header {
    padding: 0 20px;
  }
}
 
 @media screen and (max-width: 426px) {
  .ant-layout-header {
    padding: 0 20px;
  }

  .BaseLayoutHeader .Breadcrumb {
    font-size: 13px;
  }

  .ant-dropdown-menu-item {
    font-size: 12px;
    padding: 10px;
  }
}

.logo {
 font-size: 24px;
 font-weight: bold;
  color: #0f6788;
  margin-left: 0.5rem;
}

.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}
.header{
  background: #fff;
  border-bottom: 1px solid #dddddd;
}

.header-logo{
  display: flex;

}

.header .TopbarSearch{
  margin-top: 0.8rem;
}

.sider-layout .ant-menu.ant-menu-dark,
.sider-layout .ant-menu-dark .ant-menu-inline.ant-menu-sub{
  background: #f0f2f5

}


