.Sub-project-image>.ant-image {
    margin-right: 15px;
}
.photoGallary{
    margin-left: 25px;
}
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.slideshow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    ;
}

.arrows {
    display: flex;
    justify-content: space-between;
}

.arrow-left {
    align-self: center;
    height: 0;
    cursor: pointer;
    border: 2px solid #e8e8ee;
    ;
    padding: 5px 8px 25px 8px;
    font-size: 20px;
    background-color: #f0eef0;
}

.arrow-right {
    align-self: center;
    height: 0;
    margin: 0.5em;
    cursor: pointer;
    border: 2px solid #e8e8ee;
    padding: 5px 8px 25px 8px;
    font-size: 20px;
    background-color: #f0eef0;
}

.faded-left {
    background-color: #2fbaec;
}

.faded-right {
    background-color: #2fbaec;
}

.viewAllPhoto {
    font-size: 16px;
    color: #2fbaec;
    text-decoration: underline;
    cursor: pointer;
    padding-right: 10px;
}

@keyframes appear {
    0% {
        opacity: 0.01;
    }
    100% {
        opacity: 1;
    }
}

.slideshow .imageSlider {
    width: 96%;
    height: 250px;
    object-fit: cover;
    margin: auto 0.2em;
    border-radius: 2px;
    animation: appear 1.5s ease-in;
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .slideshow {
        padding-right: 0;
        padding-left: 0;
    }
    .arrow-left {
        border-top: 1.5em solid transparent;
        /* border-right: 1.5em solid #3A003A; */
        border-bottom: 1.5em solid transparent;
    }
    .arrow-right {
        border-top: 1.5em solid transparent;
        /* border-left: 1.5em solid #3A003A; */
        border-bottom: 1.5em solid transparent;
    }
    .imageSlider {
        width: 100px;
        height: 70px;
    }
}

@media screen and (max-width: 630px) {
    .imageSlider {
        width: 60px;
        height: 50px;
    }
}
.imageDetail h3{
    font-weight: 600;
}
