.sub-project-layout, .sub-project-inner-layout {
    background-color: #ffffff !important;
}

.sub-project-inner-layout {
    border-top: 1px solid #e0ddddfa;
    /* padding: 20px 0; */
    margin: 16px 0;
}

.top-nav {
    display: flex;
    justify-content: space-between;
}

#closeAlbum {
    margin-top: 20px;
}

.sub-project-layout #sub_project_name {
    padding-top: 20px;
    padding-left: 25px;
}

.sider {
    background-color: rgb(246, 246, 246) !important;
    height: 100vh;
    padding: 20px 10px 0 40px;
    position: static;
}

.sidebar-header {
    display: flex;
}

#sider-title {
    color: #0f6788;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 15px;
    width: 65%;
}

.sidebar-header a {
    color: #0f6788;
    text-decoration: underline;
}

.sider h4, .details h4 {
    color: #0f6788;
    margin-bottom: 0!important;
}

.sub-project-contents {
    margin-top: 24px;
    padding: 0 0 0 24px;
}

.chartDetails {
    border: 1px solid #e0ddddfa;
    padding: 15px 0;
    padding-right: 15px;
    /* width: 25vw !important;  */
}

.canvasjs-chart-credit {
    display: none;
}

.chartDetails>canvas {
    padding: 0 25px;
}

.details {
    padding: 20px;
    border: 1px solid #e0ddddfa;
    margin: 0 !important;
}

.detail-header {
    padding: 10px 16px;
    background-color: #545454
}

.detail-header h2 {
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
}

.project-subproject>.Toolbar {
    display: none;
}

.sub-project-equipment {
    margin-left: 30px;
    border: 1px solid #e0ddddfa;
    padding: 28px;
}

.sub_project_map .base-map {
    height: 50vh;
}

.headerTitle {
    border-bottom: 0.5px solid #e8e8e8;
    padding-bottom: 3px;
    font-size: 16px;
    color: #2fbaec;
}

.mapHeaderTitle {
    font-size: 16px;
    color: #2fbaec;
}

.imageDetail {
    border: 0.5px solid #e8e8e8;
    padding: 20px;
}

.imageDetail h4 {
    font-weight: 600;
}