
.ProjectInfo {
    padding: 5px 10px 10px 10px;
}

.ProjectInfo .top-section {
    display: flex;
}

.ProjectInfo .top-section .back-button {
    width: 25%;
}

.ProjectInfo .top-section .project-title div, .ProjectInfo .sector {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    text-transform: none;
}

.ProjectInfo hr {
    border-top: 1px solid #dee3e8
}

.ProjectInfo .project-highlights {
    padding-top: 10px;
}

.ProjectInfo .project-highlights article {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.ProjectInfo .project-highlights article div:nth-child(1) {
    width: 40%;
    text-align: left;
}

.ProjectInfo .project-highlights article div:nth-child(2) {
    width: 60%;
    text-align: right;
}

.ProjectInfo .link-actions {
    display: flex;
    justify-content: center;
}



