.project-layout, .project-inner_layout {
    background-color: #ffffff !important;
}

.project-inner_layout {
    border-top: 1px solid #e0ddddfa;
    /* padding: 20px 0; */
    margin: 16px 0;
}

.project-layout h3 {
    padding-top: 20px;
    padding-left: 25px;
}

.project-sider {
    background-color: rgb(246, 246, 246) !important;
    height: 90vh;
    padding: 20px 0 0 40px;
}
.sidebar-header{
    display: flex;
}

#sider-title {
    color: #0f6788;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 15px;
    width: 65%;
}
.sidebar-header a {
 color: #0f6788;
 text-decoration: underline;

}

.project-sider h4, .details h4 {
    color: #0f6788;
    margin-bottom: 0!important;
}

.project_contents {
    margin-top: 24px;
    padding: 0 24px;
}

.chartDetails {
    border: 1px solid #e0ddddfa;
    padding: 15px 0;
    height: 300px !important;
}

.chartDetails>canvas {
    /* height: 260px !important;
    width: 450px !important; */
    padding: 0 25px;
}

.details {
    padding: 20px;
    border: 1px solid #e0ddddfa;
    margin: 0 !important;
}

.detail-header {
    padding: 10px 16px;
    background-color: #545454
}

.detail-header h2 {
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
}

.project-subproject>.Toolbar {
    display: none;
}