.project-layout, .project-inner_layout {
    background-color: #ffffff !important;
}

.project-inner_layout {
    margin: 16px 0;
}

.project-layout h3 {
    border-bottom: 1px solid #8f8c8c42;
}

.keyDetails {
    background-color: rgb(246, 246, 246) !important;
    padding: 20px 20px 20px 40px;
}

h2#sider-title {
    color: #0f6788;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 15px;
    text-align: center;
}

.keyDetails h4, .details h4 {
    color: #0f6788;
    margin-bottom: 0!important;
}

.key-details>.ant-col {
    padding-top: 15px;
}

.project_contents {
    /* margin-top: 24px; */
    padding: 0 24px;
}

.description h4 {
    color: #0f6788;
    font-size: 15px;
}

.chartDetails {
    padding: 15px 0;
    height: 50vh;
}

.canvasjs-chart-credit {
    display: none;
}

.chartDetails>canvas {
    padding: 0 25px;
}

.details {
    padding: 20px;
    border: 1px solid #e0ddddfa;
    margin: 0 !important;
}

.detail-header {
    padding: 10px 16px;
    background-color: #545454
}

.detail-header h2 {
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
}

.project-subproject>.Toolbar {
    display: none;
}

.project_map {
    padding: 1px;
    height: 50vh;
    border: 2px solid #e0ddddfa;
}

.project_map .base-map {
    height: 49vh;
}

.sector_chat {
    padding-right: 5px;
}

.sector_title {
    color: #0f6788;
    margin: -10px 0 -10px 10px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


.project_contents .ant-tabs-card>.ant-tabs-nav .ant-tabs-tab-active, .ant-tabs-card>div>.ant-tabs-nav .ant-tabs-tab-active {
    color: #1890ff;
    background: #0f6788 
}

.project_contents .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #ffffff;
}

.project_contents .ant-tabs-card.ant-tabs-top>.ant-tabs-nav .ant-tabs-tab, .ant-tabs-card.ant-tabs-top>div>.ant-tabs-nav .ant-tabs-tab {
padding: 10px 70px;}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

@media (min-width: 1400px) {
    .container {
        width: 1320px;
    }
    .project-layout h3 {
        padding: 20px 225px;
        font-size: 22px;
    }
}