.FormModal {
  width: 50% !important;
}

@media screen and (max-width: 1024px) {
  .FormModal {
    width: 70% !important;
  }
}

@media screen and (max-width: 768px) {
  .FormModal {
    width: 80% !important;
  }
}

@media screen and (max-width: 426px) {
  .FormModal {
    width: 90% !important;
  }
  .contentEllipse > a, .Projects {
    padding: 12px;
}
.container{
  padding: 0 !important;
}
.key-details {
  padding-left: 15px;
}
}

/* .ProjectForm .ant-input-number {
  width: 100% !important;
} */

.contentEllipse  {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.contentEllipse > a , .Projects{
  color: #333333;
}

.Projects:hover{
  color: #333333;
}
.ProjectForm .ant-input-number {
  width: 120px !important;
}

.ProjectLocationForm h4, .ProjectForm h4, .ProjectSectorForm h4, .ProjectDetailsForm h4 {
  text-align: center;
  text-transform: uppercase;
  /* padding-top: 5%; */
}

.ProjectForm  .ant-form-item{
  margin-bottom: 5px !important;
}