

.CustomGridList {
    padding-top: 10px;
    font-size: 0.9em;
    cursor: pointer;
    padding-bottom: 20px;
}

.CustomGridList article {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.CustomGridList article div:nth-child(1) {
    width: 50%;
    text-align: left;
}

.CustomGridList article div:nth-child(2) {
    width: 50%;
    text-align: right;
}
