.tickets.grey-bgr {
    position: relative;
    padding: 15px 0;
}

.updatedIssue {
    border-left: 2px solid #f6f6f6;
}

.updatedIssueContents {
    padding-left: 30px;
}

.issues.key-details h4 {
    color: #0f6788
}