.info {
    padding: 10px 8px 6px 12px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 150px;
    z-index: 800;
    border: 0.8px solid #b6b3b3;
    border-radius: 0px;
}

.info .project-legend {
    display: flex;
}
.projects-info{
    padding-top: 25px;
}


.info h3 {
    font-size: 14px;
}

.info h4, .info h3 {
    text-decoration: underline;
    text-transform: uppercase;
}

.info h4 {
    font-size: 12px;
}

.info p {
    margin-bottom: 0px !important;
    height: 15px;
    width: 15px;
    border-radius: 50%
}

.info h5 {
    padding-left: 10px;
    font-size: 11px;
}

#text ::after {
    display: none;
}

.legend {
    text-align: left;
    line-height: 18px;
    color: #555;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.Legend .bubble-large {
    height: 60px;
    width: 60px;
}
.Legend .bubble-large, .Legend .bubble-medium, .Legend .bubble-small{
    position: relative;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #555;
    background-color: #d2d1d1;
}

.Legend hr {
    background: black;
}

.Legend .bubble-medium {
    right: 50px;
    top: 20px;
    height: 40px;
    width: 40px;


}

.Legend .bubble-small {
    right: 80px;
    top: 40px;
    height: 20px;
    width: 20px;
   

}

.bubble-contents, .bubble-contents-medium, .bubble-contents-small {
    display: flex;
}
.bubble-contents p, .bubble-contents-medium p, .bubble-contents-small p{
   margin-top: 5px; 
}
.bubble-contents {
    margin-left: 44px;

}
.bubble-contents-medium{
    margin-left: 28px;

}
.bubble-contents-small{
    margin-left: 14px;

}
