.SideNav {
    display: flex;
    position: fixed;
    left: 0;
    top: 6.4%;
    height: 93vh;
    z-index: 1000;
    background: #ffffff;
    border-top: 2px solid #0f6788;
}

.SideNav .nav-items-list {
    background: #0f6788;
}

hr {
    border-top: 1px solid #dee3e8
}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 426px) {
    .SideNav {
        width: 100%;
        display: inline;
        border: 0;
        height: inherit !important;
    }
    .SideNav .nav-items-list {
        display: flex;
    }
    .SideNavItem {
        height: 8vh;
        flex-grow: 1;
        padding: 0px;
        border-bottom: none;
    }
    .SideNavItem img {
        height: 30px;
    }
    .NavItemDetails{
        width: 100% !important;
        height: 34vh;
    }
    .CheckBoxGroupFilter .statusFilter label {
        width: 98px;
    }
    .CheckBoxGroupFilter .projectFilter label,.CheckBoxGroupFilter .regionFilter label {
        width: 100%;
    }
}