.mapSideNav .ant-drawer-body {
    padding: 0;
    overflow: hidden;
}

.mapSideNav .ant-drawer-content {
    overflow: hidden;
}

.openDrawer {
    display: flex;
    position: fixed;
    z-index: 1000;
    background: #fff;
    left: 10px;
    top: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

}

.SideNav {
    display: flex;
    left: 0;
    height: 100vh;
}

.SideNav .nav-items-list {
    background: #0f6788;
}

hr {
    border-top: 1px solid #dee3e8
}

.statusFilter {
    display: inline-block;
    padding-bottom: 10px;
}

.NavItemDetails {
    overflow-y: auto;
    overflow-x: hidden;
    width: 450px;
}
.nav-items-list .UserMenu{
    justify-content: space-between;
    position: relative;
    top: 650px;
    left: 10px;
}
.nav-items-list .UserMenu > button{
    background-color: #0f6788;

}
.nav-items-list .UserMenu .anticon svg{
    color: #fff;
}
/* .nav-items-list .ant-dropdown.ant-dropdown-placement-topLeft{
    min-width: 32px; 
    left: 75px !important;
    top: 860px !important;
} */
@media screen and (max-width: 2560px) {
    .SideNavItem:not(:first-child) {
        border-top: 1px solid #dcd9d954;
        ;
        border-bottom: 1px solid #dcd9d954;
    }
}

@media screen and (max-width: 1440px) {
    .SideNavItem:not(:first-child) {
        border-top: 1px solid #dcd9d954;
        ;
        border-bottom: 1px solid #dcd9d954;
    }
}

@media screen and (max-width: 1024px) {
    .SideNavItem:not(:first-child) {
        border-top: 1px solid #dcd9d954;
        ;
        border-bottom: 1px solid #dcd9d954;
    }
}

@media screen and (max-width: 768px) {
    .SideNav {
        width: 100%;
        display: inline;
        border: 0;
        height: inherit !important;
    }
    .SideNav .nav-items-list {
        display: flex;
    }
    .SideNavItem {
        height: 10vh;
        flex-grow: 1;
        padding: 0px;
        border-bottom: none;
    }
    .SideNavItem:not(:first-child) {
        border-left: 1px solid #dcd9d954;
        ;
        border-right: 1px solid #dcd9d954;
    }
    .SideNavItem img {
        height: 30px;
    }
    .NavItemDetails {
        width: 100% !important;
        height: 100vh;
    }
    .CheckBoxGroupFilter .projectFilter label, .CheckBoxGroupFilter .regionFilter label .CheckBoxGroupFilter .projectFilter label, .CheckBoxGroupFilter .districtFilter label .CheckBoxGroupFilter .projectFilter label, .CheckBoxGroupFilter .contractorFilter label .CheckBoxGroupFilter .projectFilter label, .CheckBoxGroupFilter .procuringFilter label {
        width: 100%;
    }
}

@media screen and (max-width: 426px) {
    .BaseLayoutContent .MapDashboard {
        overflow: hidden;
    }
    .SideNav {
        width: 100%;
        display: inline;
        border: 0;
        height: inherit !important;
    }
    .SideNav .nav-items-list {
        display: flex;
    }
    .SideNavItem {
        height: 8vh;
        flex-grow: 1;
        padding: 0px;
        border-bottom: none;
    }
    .SideNavItem img {
        height: 30px;
    }
    .NavItemDetails {
        width: 100% !important;
        height: 100vh;
    }
    .CheckBoxGroupFilter .projectFilter label, .CheckBoxGroupFilter .regionFilter label {
        width: 6%;
    }
}