
.SideNavItemOverview .title-and-back-button {
    display: flex;
    font-weight: bold;
    color: #2f333b;
    justify-content: space-between;
    padding: 0 10px 0 10px;
}

.SideNavItemOverview .project-over-view-table {
    padding: 10px 0 10px 0;
}

.ProjectOverviewTable {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background: #e8eaf3;
}

.ProjectOverviewTable .value {
    font-weight: bold;
    color: #2f333b;
}


.ProjectsRegionsPredefinedFilter {
    padding: 20px 10px 10px 10px;
}

.ProjectsRegionsPredefinedFilter .projects-regions-predefined-filter-title {
    font-weight: bold;
    color: #2f333b;
}

.ProjectsRegionsPredefinedFilter .filter-header {
    display: flex;
    justify-content: space-between;
    color: #2d98d4;
    font-size: 0.8em;
}

.ProjectsRegionsPredefinedFilter .filter-list {
    padding: 10px 10px 10px 0;
    counter-reset: awesome-counter;
    list-style: none;
}

.ProjectsRegionsPredefinedFilter .filter-list li {
    display: flex;
    padding-bottom: 5px;
    cursor: pointer;
    counter-increment: awesome-counter;
}

.ProjectsRegionsPredefinedFilter .filter-list li:before {
    content: counter(awesome-counter);
    font-weight: 700;
    color: #fff;
    border-radius: 100%;
    width: 10%;
    text-align: center;
    background: #2d98d4;
}

.ProjectsRegionsPredefinedFilter .filter-list li article {
    display: flex;
    width: 90%;
    padding-left: 10px;
    justify-content: space-between;
}

.ProjectsRegionsPredefinedFilter .filter-list li:hover {
    text-decoration: underline;
    color: #2d98d4;
}

.ProjectsRegionsPredefinedFilter .filter-item-title {
    white-space: nowrap;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
}
