.DataSet {
    display: flex;
    font-size: 1em;
    padding: 0 10px 10px 20px;
    align-items: center;
    cursor: pointer;
}

.DataSet .data-set-info {
    padding: 0 15px 0 0;
}

.DataSet .data-set-name-source {
    width: 80%;
}

.data-set-section {
    border-bottom: 1px solid #e5e5e5;
}

.DataSet .DataSetAction {
    font-size: 1em;
    line-height: 16px;
    font-weight: 700;
    margin-left: 5px;
    cursor: pointer;
    text-align: right;
}

.DataSet .add {
    color: #0f6788;;
}
.DataSetTitleHoverInfo{
    left: 441px;

}

.DataSet .close {
    color: #dd4f48;
}