.Toolbar {
  /* border-bottom: 1px solid #e8e8e8; */
  height: 50px;
  margin-top: 40px;
  text-align: center;
}

.Toolbar .pagination {
  padding-top: 8px;
  float: right;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 12px;
  }

  .ant-pagination-simple .ant-pagination-simple-pager,
  .ant-pagination-simple .ant-pagination-prev,
  .ant-pagination-simple .ant-pagination-next,
  .ant-pagination-simple .ant-pagination-simple-pager input {
    margin: 0px;
  }
}

@media screen and (max-width: 426px) {
  body {
    font-size: 12px;
  }

  .ant-pagination-simple .ant-pagination-simple-pager,
  .ant-pagination-simple .ant-pagination-prev,
  .ant-pagination-simple .ant-pagination-next,
  .ant-pagination-simple .ant-pagination-simple-pager input {
    margin: 0px;
  }
}

.Toolbar-col {
  display: flex;
}

.Toolbar-row {
  margin-inline-end: 2em;
}

.ToolbarIcon {
  background: #a8a8a8;
  padding: 7px 14px;
  margin-inline-end: 0.4em;
}

.Toolbar-row .actionButton{
  border: 1px solid #40a9ff;;
  border-radius: 0;
  padding:0 12px;

}