.site-card-wrapper {
    margin-block-start: 2.5rem;
}
.site-card-wrapper .ant-card-body{
    padding-bottom: 10px;
    background-color: #f5f5f5;
}
.site-card-wrapper span{
 font-size: 26px;
 font-weight: 600;

}

.site-card-wrapper h4{
    font-size: 18px;
    color: #0f6788;
}

