.CheckBoxGroupFilter {
    padding: 10px;
    border-bottom: 0.8px solid #d9d9d9;
}

.CheckBoxGroupFilter h4{
    color: #0f6788;
    padding: 10px 0;
    border-bottom: 0.8px solid #d9d9d9
}

.CheckBoxGroupFilter {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


@media screen and (max-width: 1024px) {
    .CheckBoxGroupFilter label {
        width: 180px;
    }
}