.CheckBoxGroupFilter {
    padding: 10px;
    border-bottom: 0.8px solid #d9d9d9;
}

.CheckBoxGroupFilter h4 {
    color: #0f6788;
    padding-bottom: 10px;
    border-bottom: 0.8px solid #d9d9d9
}

.CheckBoxGroupFilter {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.checkboxItem{
    padding-left: 8px;
    cursor: pointer;
}