.CheckBoxGroupFilter {
    padding: 10px;
    border-bottom: 0.8px solid #d9d9d9;
}

.CheckBoxGroupFilter h4, .CheckBoxGroupFilter h4 {
    color: #0071bc;
    /* text-transform: uppercase; */
}

.CheckBoxGroupFilter {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.CheckBoxGroupFilter label {
    text-overflow: ellipsis;
    display: inline-block;
    overflow: hidden;
    width: 330px;
    white-space: nowrap;
    vertical-align: middle;
}

@media screen and (max-width: 1024px) {
    .CheckBoxGroupFilter label {
        width: 180px;
    }
}