
.SideNavItemOverview .title-and-back-button {
    display: flex;
    font-weight: bold;
    color: #2f333b;
    justify-content: space-between;
    padding: 0 10px 0 10px;
}

.SideNavItemOverview .project-over-view-table {
    padding: 10px 0 10px 0;
}

.ProjectOverviewTable {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background: #e8eaf3;
}

.ProjectOverviewTable .value {
    font-weight: bold;
    color: #2f333b;
}
