.ProjectInfo {
    padding: 5px 5px 10px 10px;
}

.ProjectInfo .top-section {
    display: flex;
}

.ProjectInfo .top-section .BackLink {
    width: 25%;
    text-align: right;
}

.ProjectInfo .top-section .project-title div, .ProjectInfo .sector {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    text-transform: none;
}

.ProjectInfo .project-highlights {
    padding-top: 10px;
    font-size: 0.9em;
    cursor: pointer;
    padding-bottom: 20px;
}

.ProjectInfo .project-highlights article {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.ProjectInfo .project-highlights article div:nth-child(1) {
    width: 50%;
    text-align: left;
}

.ProjectInfo .project-highlights article div:nth-child(2) {
    width: 50%;
    text-align: right;
}

.ProjectInfo .link-actions {
    display: flex;
    justify-content: center;
}

.BackLink .anticon.anticon-arrow-left {
    margin-top: 25px;
    color: #0f6788;
    font-size: 16px;
}

.ProjectInfo .ant-collapse-icon-position-right>.ant-collapse-item>.ant-collapse-header {
    padding: 12px 0 !important;
    color: #0f6788;
}

.ProjectInfo .ant-collapse-borderless>.ant-collapse-item>.ant-collapse-content {
    border-top: 0.8px solid #d9d9d9
}

.ProjectInfo .ant-collapse-content > .ant-collapse-content-box{
    padding: 0;
}

.ProjectInfo .CheckBoxGroupFilter h4 {
    display: none;
    border-bottom: 0px;
}

.FilterCollapse.ant-collapse-borderless{
    background-color: #ffffff;
}