.sub-project-layout, .sub-project-inner-layout {
    background-color: #ffffff !important;
}

.top-nav {
    display: flex;
    justify-content: space-between;
}

#closeAlbum {
    margin-top: 20px;
}

.sub-project-layout #sub_project_name {
    padding-top: 20px;
    padding-left: 25px;
}

.sider {
    background-color: rgb(246, 246, 246) !important;
    height: 100vh;
    padding: 20px 10px 0 40px;
    position: static;
}

.sider h4, .details h4 {
    color: #0f6788;
    margin-bottom: 0!important;
}

.chartDetails, .chartProgress {
    border: 1px solid #e0ddddfa;
    padding: 15px 15px 15px 0;
}

.canvasjs-chart-credit {
    display: none;
}

.chartDetails>canvas, .chartProgress>canvas {
    padding: 0 25px;
}

.chartDetails {
    padding-left: 15px;
}

.details {
    padding: 20px;
    border: 1px solid #e0ddddfa;
    margin: 0 !important;
}

.detail-header {
    padding: 10px 16px;
    background-color: #545454
}

.detail-header h2 {
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
}

.project-subproject>.Toolbar {
    display: none;
}

.sub_project_map .base-map {
    height: 50vh;
}

.headerTitle {
    border-bottom: 0.5px solid #e8e8e8;
    padding-bottom: 3px;
    font-size: 16px;
    color: #2fbaec;
}

.mapHeaderTitle {
    font-size: 16px;
    color: #2fbaec;
}

.imageDetail {
    border: 0.5px solid #e8e8e8;
    padding: 20px;
}

.imageDetail h4 {
    font-weight: 600;
}

.sub-project-contents .ant-tabs-card>.ant-tabs-nav .ant-tabs-tab-active, .ant-tabs-card>div>.ant-tabs-nav .ant-tabs-tab-active {
    color: #1890ff;
    background: #0f6788
}

.sub-project-contents .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #ffffff;
}

.sub-project-contents .ant-tabs-card.ant-tabs-top>.ant-tabs-nav .ant-tabs-tab, .ant-tabs-card.ant-tabs-top>div>.ant-tabs-nav .ant-tabs-tab {
    padding: 10px 70px;
}

/* .card-container {
    border-top: 0.5px solid #e8e8e8;
} */

.Progress-overview {
    margin-top: 20px;
}

.reportOverview {
    margin: 45px 0;
    border: 1px solid #e0ddddfa;
}

.card-container .ant-tabs-nav {
    width: 1300px;
    margin: auto;
    padding-bottom: 25px;
}