.FormModal {
    width: 50% !important;
  }
  
  @media screen and (max-width: 1024px) {
    .FormModal {
      width: 70% !important;
    }
  }
  
  @media screen and (max-width: 768px) {
    .FormModal {
      width: 80% !important;
    }
  }
  
  @media screen and (max-width: 426px) {
    .FormModal {
      width: 90% !important;
    }
  }

  .HumanResourceForm .ant-input-number,
  .HumanResourceForm .ant-picker{
    width: 100% !important;
  }
  .humanResourceEllipse
  {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }